@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --orange: #f89d41b9;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;  
}
 
body{
    min-height: 100vh;
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--orange);
    border-left: 10px solid var(--orange);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active{
    width: 80;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered{
    background-color: var(--white);
}

.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    box-shadow: 0 6px 7px -2px rgba(227, 93, 9, 0.941);
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--orange);
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}

.navigation ul li a .icon ion-icon{
    font-size: 1.75rem;
    color: var(--black1);
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    color: var(--black1);
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0px 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0px 10px var(--white);
    pointer-events: none;
}

.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active{
    width: calc(100% - 300px);
    left: 80px;
}

.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle{
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.2rem;
}

.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dashboard{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;
}

.dashboard .recentProducts{
    position: relative;
    display: grid;
    min-height: 200px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.18);
    border-radius: 20px;
}

.dashboard .cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-gap: 30px;
    margin-top: 10px;
}

.details .products{
    position: relative;
    display: grid;
    min-height: 200px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.18);
    border-radius: 20px;
}

.details .students{
    position: relative;
    display: grid;
    min-height: 200px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.18);
    border-radius: 20px;
}

.details .staffs{
    position: relative;
    display: grid;
    min-height: 200px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.18);
    border-radius: 20px;
}

.details .productMoving{
    position: relative;
    display: grid;
    min-height: 200px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.18);
    border-radius: 20px;
}

.details .transactions{
    position: relative;
    display: grid;
    min-height: 200px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.18);
    border-radius: 20px;
}

.details .categories{
    position: relative;
    display: grid;
    min-height: 200px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.18);
    border-radius: 20px;
}

.details .campuses{
    position: relative;
    display: grid;
    min-height: 200px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.18);
    border-radius: 20px;
}

.details .cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2{
    font-weight: 600;
    color: var(--orange);
}

.cardHeader .btn{
    position: relative;
    padding: 5px 10px;
    background: var(--orange);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}


.dashboard table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.dashboard table thead td{
    font-weight: 600;
}

.dashboard .recentProducts table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dashboard .recentProducts table tr:last-child{
    border-bottom: none;
}

.dashboard .recentProducts table tbody tr:hover{
    background: var(--orange);
    color: var(--white);
}

.dashboard .recentProducts table tr td{
    padding: 5px;
}

.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td{
    font-weight: 600;
}

.details .products table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .products table tr .btn{
    position: relative;
    padding: 5px 10px;
    background: var(--orange);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details .products table tr:last-child{
    border-bottom: none;
}

.details .products table tbody tr:hover{
    background: var(--orange);
    color: var(--white);
}

.details .products table tr td{
    padding: 10px;
}

.details .students table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .students table tr .btn{
    position: relative;
    padding: 5px 10px;
    background: var(--orange);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details .students table tr:last-child{
    border-bottom: none;
}

.details .students table tbody tr:hover{
    background: var(--orange);
    color: var(--white);
}

.details .students table tr td{
    padding: 5px;
}

.details .categories table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .categories table tr a{
    position: relative;
    padding: 5px 10px;
    background: var(--orange);
    text-decoration: none;
    color: var(--black1);
    border-radius: 6px;
}

.details .categories table tr:last-child{
    border-bottom: none;
}

.details .categories table tbody tr:hover{
    background: var(--orange);
    color: var(--white);
}

.details .categories table tr td{
    padding: 10px;
}

.details .categories form input{
    width: 500px;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.details .categories form a{
    position: relative;
    padding: 5px 10px;
    background: var(--orange);
    text-decoration: none;
    color: var(--black1);
    border-radius: 6px;
}

.details .productMoving table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .productMoving table tr .btn{
    position: relative;
    padding: 5px 10px;
    background: var(--orange);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details .productMoving table tr:last-child{
    border-bottom: none;
}

.details .productMoving table tbody tr:hover{
    background: var(--orange);
    color: var(--white);
}

.details .productMoving table tr td{
    padding: 10px;
}

.details .staffs table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .staffs table tr .btn{
    position: relative;
    padding: 5px 10px;
    background: var(--orange);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details .staffs table tr:last-child{
    border-bottom: none;
}

.details .staffs table tbody tr:hover{
    background: var(--orange);
    color: var(--white);
}

.details .staffs table tr td{
    padding: 10px;
}

.details .campuses table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .campuses table tr .btn{
    position: relative;
    padding: 5px 10px;
    background: var(--orange);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details .campuses table tr:last-child{
    border-bottom: none;
}

.details .campuses table tbody tr:hover{
    background: var(--orange);
    color: var(--white);
}

.details .campuses table tr td{
    padding: 10px;
}

.details .transactions table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .transactions table tr .btn{
    position: relative;
    padding: 5px 10px;
    background: var(--orange);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details .transactions table tr:last-child{
    border-bottom: none;
}

.details .transactions table tbody tr:hover{
    background: var(--orange);
    color: var(--white);
}

.details .transactions table tr td{
    padding: 10px;
}

img {
    width: 100px;
}

.details button{
    position: relative;
    padding: 5px 10px;
    background: var(--orange);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}