.navbar .container-fluid{
    justify-content: space-around;
    margin-top: 0px;
    margin-bottom: cm;
 }
 .container-fluid{
    padding: 0px;
 }
 .fa-user{
   color: #000;
   font-size: 20px;
 }
 .tog{
    width: auto;
 }
 .navbar-collapse{
    flex-grow: 0 !important;
 }
 .fa-magnifying-glass{
    font-size: 20px;
 }
 .d-flex{
    align-items: center !important;
 }
 .nav-link{
    color: #000 !important;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 25px;
 }
 .navbar-brand{
    margin: 0 13rem;
    margin-left: 2px;
 }
 .navbar-brand {
    font-family: 'Script';
    font-size: xx-large;
    color: rgb(234, 154, 49);
 }
 .form-control{
    border-radius: 0 !important;
    border-bottom: 1px solid #000 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    
 }
 ::-webkit-input-placeholder{
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px !important;
 }
 .fa-cart-shopping{
    color: black;
    font-size: 20px;
 }
 
 /* ----------menu--------- */
 
 .bg-secondary{
    background-color: #e7e5e5 !important;
 }
 .menu .nav-item:hover{
    background-color: #E5E5E5;
 }
 .menu .nav-item{
    transition: all .3s ease-in ;
 }
 .menu .nav-item .nav-link{
    margin: 0 30px;
    display: block;
    padding: 11px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #41424A;
    font-family: Arial, sans-serif;
    font-weight: normal;
 }
 .aboutus{
    background-image: url(/img/baner-icon/menu-order-now.png);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 171px 47px;
 }
 
 
 
 
 /* footer */
 .footer{
   min-height: 100%;
   background-color: #e7e5e5;
   text-align: center;
   height: 2cm;
   padding-top: 0.4cm;
 }
 
 