/* section menu */
.d-flex .qtycart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(87, 156, 8, 0.938);
    border-radius:7px;
    width: 15px;
    height: 17px;
    text-decoration: none;
    color: #ffff;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%,50%);
 
 }
 .ping{
    position: relative;
 }
 .baner{
    object-fit: cover;
    width: 100%;
    height: 300px
 }
 .title{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospaces;
    text-align: center;
    margin-top: 50px;
    position: relative;
 }
 .title::after{
    content: "";
    position: absolute;
    width: 400px;
    height: 1px;
    background-color: rgb(28, 28, 28);
    top: 50%;
    right: 50px;
 }
 .title::before{
    content: "";
    position: absolute;
    width: 400px;
    height: 1px;
    background-color: rgb(27, 27, 27);
    top: 50%;
    left: 50px;
 }
 
 .nav-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
 }
 
 .text{
    color: #000;
    font-family: 'Amatic SC', cursive;
 }
 .select-menu-showmb{
    display: none;
 }
 .img-oring img{
    border-radius: 50%;
    border: 2px solid #000;
    width: 78px;
    height: 78px;
 }
 
 /*  -------menu drink ---------*/
 .list{
    display: grid;
    grid-template-columns: auto auto auto auto;
 
 }
 .item .img img{
    height: 310px;
    width: 282px;
    overflow: hidden;
    transition: all 0.3s;
 }
 .item .img{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .item{
    padding: 9px 9px 50px 9px;
    transition: .5s;
 }
 .fisrt-child{
    border-right: none;
    border-bottom: none;
 }
 
 .item .name-drink h3{
    text-align: center;
    font-size: 25px;
 }
 .img {
    height: 310px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    width: 282px;
 }
 .img img {
    max-width: 100%;
    transition: all 1s;
    -webkit-transform: scale(1);
            transform: scale(1);
 }
 .img:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
 }
 
 
 
 /*  -------PRODUCT DETAILS---------- */
 
 .modal-dialog{
    max-width: 1000px;
 }
 
 .btn-danger{
    background-color: white;
    color: #000;
    border:1px solid #000;
    border-radius: 0;
 }
 
 .pd-wrap {
     padding: 40px 0;
     font-family: 'Poppins', sans-serif;
 }
 
 .product-name {
     font-size: 22px;
     font-weight: 500;
     line-height: 22px;
     margin-bottom: 4px;
 }
 .product-price-discount {
     font-size: 22px;
     font-weight: 400;
     padding: 10px 0;
     clear: both;
 }
 .product-price-discount span.line-through {
     text-decoration: line-through;
     margin-left: 10px;
     font-size: 14px;
     vertical-align: middle;
     color: #a5a5a5;
 }
 .display-flex {
     display: flex;
 }
 .align-center {
     align-items: center;
 }
 .product-info {
     width: 100%;
 }
 .reviews-counter {
     font-size: 13px;
 }
 .reviews-counter span {
     vertical-align: -2px;
 }
 .rate {
     float: left;
     padding: 0 10px 0 0;
 }
 .rate:not(:checked) > input {
     position:absolute;
     top:-9999px;
 }
 .rate:not(:checked) > label {
     float: right;
     width: 15px;
     overflow: hidden;
     white-space: nowrap;
     cursor: pointer;
     font-size: 21px;
     color:#ccc;
     margin-bottom: 0;
     line-height: 21px;
 }
 .rate:not(:checked) > label:before {
     content: '\2605';
 }
 .rate > input:checked ~ label {
     color: #ffc700;    
 }
 .rate:not(:checked) > label:hover,
 .rate:not(:checked) > label:hover ~ label {
     color: #deb217;  
 }
 .rate > input:checked + label:hover,
 .rate > input:checked + label:hover ~ label,
 .rate > input:checked ~ label:hover,
 .rate > input:checked ~ label:hover ~ label,
 .rate > label:hover ~ input:checked ~ label {
     color: #c59b08;
 }
 .product-dtl p {
     font-size: 14px;
     line-height: 24px;
     color: #7a7a7a;
 }
 .product-dtl .form-control {
     font-size: 15px;
 }
 .product-dtl label {
     line-height: 16px;
     font-size: 15px;
 }
 .form-control:focus {
     outline: none;
     box-shadow: none;
 }
 .product-count {
     margin-top: 15px; 
 }
 .product-count .qtyminus,
 .product-count .qtyplus {
     width: 34px;
     height: 34px;
     background: #689F38;
     text-align: center;
     font-size: 19px;
     line-height: 36px;
     color: #fff;
     cursor: pointer;
 }
 .sidebar {
    width: 232px; /* Điều chỉnh độ rộng của thanh menu */
    float: left; /* Đưa thanh menu sang bên phải */
    margin-left: 64px;
  }
  section.container {
    padding: 0px;
    margin-right: 5px;
    margin-left: 5px;
  }
 .product-count .qtyminus {
     border-radius: 3px 0 0 3px; 
 }
 .product-count .qtyplus {
     border-radius: 0 3px 3px 0; 
 }
 .product-count .qty {
     width: 60px;
     text-align: center;
 }
 .round-black-btn {
     border-radius: 4px;
     background: #689F38;
     color: #fff;
     padding: 7px 45px;
     display: inline-block;
     margin-top: 20px;
     border: solid 2px #689F38; 
     transition: all 0.5s ease-in-out 0s;
     text-decoration: none;
 }
 .round-black-btn:hover,
 .round-black-btn:focus {
     background: transparent;
     color: #212529;
     text-decoration: none;
 }

 .detail img{
    margin-top: 5px;
    width: 190px;
    height: 170px;
    display: inline-block;
  transition: transform 0.3s ease;
 }
 .detail img:hover{
    transform: scale(1.04) rotate(0deg);

 }
 
.listProduct{
    display: flex; /* Sử dụng flexbox để xếp các phần tử con theo hàng ngang */
  flex-wrap: wrap; /* Cho phép các phần tử con xuống dòng khi không đủ không gian */
  justify-content: center; /* Căn giữa các phần tử con theo chiều ngang */
  width: 1500px;
}
.round-black-btn {
    border-radius: 4px;
    background: #689F38;
    color: #fff;
    padding: 7px 50px;
    display: inline-block;
    margin-top: -8px;
    border: solid 2px #689F38;
    transition: all 0.5s ease-in-out 0s;
    text-decoration: none;
}
.detail h5{
    margin-top: 4px;
    text-align: left;
    padding-left: 30px;
}
.detail p{
    text-align: left;
    padding-left: 30px;
}
.detail {
    width: 220px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 1px 3px 5px 0px rgba(111, 109, 109, 0.5); /* Sửa giá trị rgba */

    text-align: center;
    background-color: white;
    margin: 15px;
}
.price{
    color: red; 
    font-weight: bold;
}
.price::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(https://banner2.cleanpng.com/20191006/fvt/transparent-lotus-5d996d7b7ecc97.5045893615703361235194.jpg);
  background-size: cover;
  margin-left: 5px;
  margin-bottom: -5px;
}
 a.but.detail {
    width: 280px;
    height: 330px;
    border-radius: 10px;
    box-shadow: 1px 3px 5px 0px rgba(111, 109, 109, 0.5); /* Sửa giá trị rgba */
    text-align: center;
    background-color: white;
    margin: 10px;
}
 a.button{
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(255, 151, 65);
    text-decoration: none;
    border-radius: 20px;
 }
 span.button-text{
    color: #ffffff;
 }
 /*  END PRODUCT DETAILS */
 
 /* search  */
 div#productDetail{
    margin-top: 90px;
 }
  #listCategories {
    display: flex;
    list-style: none;
    padding: 0;
    width: 900px;
    text-align: center;
    margin: 20px 0px 10px 150px;
  }
  
  .category-item {
    flex: 1;
    margin-right: 15px; /* Khoảng cách giữa các danh mục */
  }
  
  .category-item a {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgb(255, 184, 126);
    border-radius: 4px;
    color: #000000;
  }
  
  .category-item a:hover {
    background-color: #e0e0e0;
  }
  #listCampuses {
    float: right;
    margin-right: 100px;
    margin-top: -40px;
    white-space: nowrap;
  }
  #sidebar {
    width: 200px;
    max-height: 0;
    overflow: hidden;
    position: fixed;
    top: 70px;
    right: 0;
    background-color: rgb(255, 151, 65);
    transition: max-height 0.3s;
  }
  
  #sidebar.open {
    max-height: 280px; /* Chiều cao tối đa khi sidebar được hiển thị */
  }
  
  #sidebar ul {
    margin-top: 15px;
    margin-left: 5px;
    list-style-type: none;
    padding: 0;
  }
  
  #sidebar li {
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid rgb(255, 255, 255);
}
#sidebar li:last-child {
    border-bottom: none;
}
  #sidebar a {
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  #sidebar li:hover {
    background-color: #e0e0e0;
  }
  
  #menuTrigger {
    position: fixed;
    top: 20px;
    right: 20px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    z-index: 9999;
  }