.namepage{
    margin-top: 80px; 
    font-family: 'Courier New', Courier, monospaces; 
    text-align: center;
    background-color: #ffbc6e;
    width: 550px;
    text-align: center;
    margin-left: 500px;
    height: 50px;
    margin-bottom: 20px;
}
body{
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
    display: block;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
} 
.listOrder{
    margin-left: 270px;
}
.detail {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    margin-top: 50px;
    width: 950px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 1px 3px 5px 0px rgba(111, 109, 109, 0.5);
    background-color: white;
    margin: 10px;
  }
  
  .img {
    flex: 0 0 auto;
    padding: 10px; /* Để tạo khoảng cách giữa hình ảnh và các thông tin */
  }
  
  .img img {
    margin: 35px  0px 0px -40px;
    width: 220px;
    height: 220px;
  }
  
  .info {
    margin-top: 20px;
    display: block;
  }
  .price {
    color: rgb(0, 0, 0);
    font-weight: none ;
    margin-bottom: 3px;
    margin-top: -6px;
}
.status{
    font-size: large;
    font-weight: bold;
    width: 200px;;
    margin-left: 450px;
    color: #ffa845;
}
.green-text {
  color: rgb(62, 214, 48);
}

/* Define the CSS class for red text */
.red-text {
  color: red;
}