.namepage{
    margin-top: 80px; 
    font-family: 'Courier New', Courier, monospaces; 
    text-align: center;
    background-color: #ffbc6e;
    width: 550px;
    text-align: center;
    margin-left: 500px;
    height: 50px;
}
body{
    margin: 0;
    padding: 0;
    display: block;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
} 
.listOrder{
    margin-left: 270px;
}
.detail {
    display: flex;
    margin-left: 200px;
    width: 900px;
    height: 500px;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.5);
    background-color: white;
  }
  
  .img {
    flex: 0 0 auto;
    padding: 10px; /* Để tạo khoảng cách giữa hình ảnh và các thông tin */
  }
  .img{
    height: 400px;
    width: 400px;   
  }
  .img img {
    margin: 0px  20px 0px 20px;
    width: 350px;
    height: 350px;
  }
  
  .info {
    margin-top: 20px;
    display: block;
  }
  .price {
    color: rgb(0, 0, 0);
    font-weight: none ;
    margin-bottom: 3px;
    margin-top: -6px;
}
.status{
    font-size: large;
    font-weight: bold;
    width: 200px;;
    color: #ffa845;
}
.round-black-btn {
    border-radius: 4px;
    background: #689F38;
    color: #fff;
    padding: 7px 75px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
    border: solid 2px #689F38; 
    transition: all 0.5s ease-in-out 0s;
    text-decoration: none;
  }