.post{
    border: 1px none grey;
    width: 430px;
    height: 380px;
    text-align: center;
}
h1{
    background-color: #ffbc6e;
}
body{
    background-color: rgb(255, 255, 255);
}
.header a{
    text-decoration: none;
    color: #ffbc6e;
    font-size: 30px;
    font-weight:600;
    padding-left: 100px;
}


form select{
    background-color: #e7e5e5;
    width: 430px;
    height: 35px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 20px;
    font-size: 15px;
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    color: grey;
}
.container{
  display: flex;
  margin-top: 20px;
  margin-left: 180px;
  height: 550px;
  margin-right: 890px;
  min-height:350px;
}
a.button{
    margin-top: 10px;
    display: inline-block;
    color:red;
    background-color: #e7e5e5;
    text-decoration: none;
    margin-right: 30px;
    border: 1px solid grey;
 }
 span.button-text{
    color: #000000;
 }

 form{
    display: flex;
    
 }

form input{
    width: 405px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 20px;
    font-size: 15px;
    background-color: #e7e5e5;
}

 .content-1{
    display: flex;
    flex-direction: column;
 }

 .content-2{
    margin-left:20rem;
 }

 body > div.container > div > form > div.content-2 > img{
    width:320px;
    margin-left: -70px;

 }



 body > div.container > div > form > input{
    position: absolute;
    top: 32rem;
    width: -3px;
    width: 98px;
    left: 17rem;
    width: 5rem;
    color: red;
    padding-right: 1rem;
    border-radius: none;
 }


 body > div.container > div > form > a{
    position: absolute;
    width: 5rem;
    left: 23rem;
    width: 5rem;
    color: red;;
    background-color: e7e5e5;
    border-radius:none ;
    top: 31.4rem;
    padding: 0.3rem;
 }

 body > div.container > div > form > a > span{
    color:red;
    
 }

 input[type="submit"].button {
    border-radius: 0;
 }