
#productDetail > div > div.product-info > p:nth-child(5),
#productDetail > div > div.product-info > p:nth-child(6){
  display: inline-block;
}
#productDetail {
  position: relative;
  width: 400px;;
  margin: 0px 0px 100px 250px;
}

#productDetail > div > div.product-info {
  position: absolute;
  left: 580px;
  top: -70px;
  padding: 0 15px 0 0;
  text-align: left;
  margin-left: 50px;
}

#productDetail > div > div.product-info > p:nth-child(6){
  margin-left: 0.15rem;
}
#productDetail > div > div.product-info > p:nth-child(3){
  width: 300px;
}
.detail {
  width: 280px;
  height: 330px;
  border-radius: 10px;
  box-shadow: none;
  text-align: center;
  background-color: white;
  margin: 10px;
}
.detail h3{
  margin-top: 16px;
  margin-bottom: 16px;
}
.detail p{
  text-align: left;
  padding-left: 0px;
}
.round-black-btn {
  border-radius: 4px;
  background: #689F38;
  color: #fff;
  padding: 7px 75px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 30px;
  border: solid 2px #689F38; 
  transition: all 0.5s ease-in-out 0s;
  text-decoration: none;
}

.price{
  color: red; 
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 0px;
}
.image{
  display: flex;
  flex-direction: column;
  margin-left: -20px;
}
.main-image img{
  width: 340px;
  height: 340px;
}
.thumbnail-images{
  display: flex;
}
.thumbnail-images img{
  border: 2px solid rgb(198, 198, 198);
  margin-left: 8px;
  height: 110px;
  width: 110px;
}
.notice{
  margin-top: -100px;
  margin-left: 880px;
}
.notice p{
  margin-top: -18px;
}