.namepage{
    margin-top: 80px; 
    font-family: 'Courier New', Courier, monospaces; 
    text-align: center;
    background-color: #ffbc6e;
    width: 550px;
    text-align: center;
    margin-left: 500px;
}
body{
    background-color: rgb(245, 245, 245);
} 